html {
  font-size: 62.5%
}
body {
  background: #fff;
  color: #362f2d;
  font: 1.5em/1.5 'Open Sans', Arial, sans-serif;
}

/*wrapper*/
.wrapper {
}

/*commmon elements*/

/*clearfix*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/*------------------------*/

/*header*/
.header {
}
.logo {
  background: #f26d7d;
  margin: 0;
}
.logo a {
  background: url(../img/logo.png);
  display: block;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  z-index: 100;
  white-space: nowrap;
  width: 250px;
}
.phone {
  background: #fff;
  border: 1px solid #f26d7d;
  border-radius: 10px;
  font-size: 90%;
  height: 43px;
  line-height: 43px;
  margin: 15px 20px;
  text-align: center;
}
.phone a {
  color: #007236;
  position: relative;
  text-decoration: none;
  z-index: 100;
}
.menu {
  position: absolute;
  top: 0;
  width: 100%;
}
.menu .toggle {
  /*dev*/background: rgba(0, 0, 255, .5);
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
#nav:target .menu ul {
  display: block;
  margin-top: 125px;
}
.menu .close {
  display: none;
}
#nav:target .menu .close {
  display: block;
}
#nav:target .header {
  background: #f26d7d;
}
.menu ul {
  display: none;
  padding: 0;
  margin: 0;
}
.menu li {
  background: #f26d7d;
  list-style: none;
}
.menu a {
  display: block;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
.facebook {
  display: none;
}

/*columns*/
.columns {

}
/*content*/
.content {
  /*dev*/ background: rgba(255, 0, 0, .2);
  min-height: 200px;
}

/*sidebar*/
.sidebar {
  /*dev*/ background: rgba(0, 255, 0, .2);
  min-height: 200px;
}

/*footer*/
.footer {
  background: #f8b6be;
  height: 85px;
}

/* -------- Desktop --------*/
@media screen and (min-width: 978px) {

  /*body*/
  body {
    background: #fcfbf8;
  }

  /*wrapper*/
  .wrapper {
  margin: 0 auto;
  width: 978px;
  }

  /*site header*/
  .header {
    background: none;
    padding-bottom: 25px;
  }
  .logo {
    background:none;
    float: left;
  }
  .logo a {
    background: url(../img/logo_big.png);
    display: block;
    height: 58px;
    margin: 20px 0 30px;
    width: 470px;
  }
  .phone {
    float: right;
    height: auto;
    line-height: 1.5;
    margin: 20px 0 0;
    padding: 5px 0;
    width: 175px
  }
  .phone a {
    font-style: italic;
    font-size: 1.5em;
    white-space: nowrap;
  }
  .menu {
    clear: both;
    float: left;
    height: 40px;
    /*dev*/min-width: 200px;
    position: static;
    width: auto;
  }
  .menu .toggle {
    display: none;
  }
  .menu ul {
    display: block;
  }
  #nav:target .menu .close {
    display: none;
  }
  #nav:target .menu ul {
    margin: 0;
  }
  #nav:target .header {
    background: none;
  }
  .menu li {
  float: left;
  }
  .facebook {
    /*dev*/background: rgba(255, 0, 255, 0.2);
    display: block;
    height: 40px;
    /*dev*/ min-width: 100px;
    margin: 0;
    float: right;

  }

  /*columns*/
  .columns {
    background: #fff;
    padding: 30px;
  }

  /*main content*/
  .content {
    float:left;
    width: 602px;
  }

  /* main sidebar*/
  .sidebar {
    float: right;
    width: 286px;
  }

  /*footer*/
  .footer {
    /*background: none;*/
    height: 55px;
    margin: 30px 0;
  }

}
